@reference "./tailwind.css";

/**
 * CSS Styles for code highlighting.
 * Feel free to customize token styles 
 * by copying from a prismjs compatible theme:
 * https://github.com/PrismJS/prism-themes
 */

/* Code title styles */
.remark-code-title {
  @apply rounded-xs bg-gray-700 px-5 py-3 font-mono text-sm font-bold text-gray-200 dark:bg-gray-800;
}

.remark-code-title + div > pre {
  @apply mt-0 rounded-t-none;
}

/* Code block styles */
.code-highlight {
  @apply float-left min-w-full;
}

.code-line {
  @apply -mx-4 block border-l-4 border-transparent pr-4 pl-4;
}

.code-line.inserted {
  @apply bg-green-500/20;
}

.code-line.deleted {
  @apply bg-red-500/20;
}

.highlight-line {
  @apply border-primary-500 -mx-4 border-l-4 bg-gray-700/50;
}

.line-number::before {
  @apply mr-4 -ml-2 inline-block w-4 text-right text-gray-400;
  content: attr(line);
}

/* Token styles */
/**
 * One Dark theme for prism.js
 * Based on Atom's One Dark theme: https://github.com/atom/atom/tree/master/packages/one-dark-syntax
 * @author Hoon Wei Ting
 */
/* .maybe-class-name {
  color: hsl(207, 82%, 66%);
} */

.token.comment,
.token.prolog,
.token.cdata {
  color: hsl(220, 10%, 40%);
  font-style: italic;
}

.token.doctype,
.token.punctuation,
.token.entity {
  color: hsl(220, 14%, 71%);
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  color: hsl(29, 54%, 61%);
}

.token.keyword {
  color: hsl(286, 60%, 67%);
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  color: hsl(355, 65%, 65%);
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value > .token.punctuation {
  color: hsl(95, 38%, 62%);
}

.token.variable,
.token.operator,
.token.function {
  color: hsl(207, 82%, 66%);
}

.token.url {
  color: hsl(187, 47%, 55%);
}

.language-css .token.string,
.style .token.string {
  color: hsl(95, 38%, 62%);
}

.namespace {
  opacity: 0.8;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.table {
  display: inline;
}

